*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Roboto Condensed', sans-serif;

  --fw-reg: 300;
  --fw-med: 700;
  --fw-bold: 900;

  --clr-light: #FFF;
  --clr-dark: #303030;
  --clr-accent: #4ad1fa;
  --clr-accent-border: rgba(74, 209, 250, .55);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-body: 1rem;
  --fs-small: .9rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
  --ts-dark: 0 0 15px rgba(0, 0, 0, .5);
  --ts-light: 0 0 15px rgba(255, 255, 255, .2)
}
main {
  color: var(--clr-dark);
}

.nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #4d5d57c1;
}

.nav a {
  text-decoration: none;
  font-weight: var(--fw-med);
  font-size: var(--fs-h4);
  color: white;
  text-shadow: var(--bs);
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:visited {
  color: var(--clr-light);
  text-shadow: var(--bs);
}

.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav li {
  flex-grow: 1;
  margin-left: 3rem;
}

.header {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 5rem auto 5rem auto;
  border-top: 5px solid #4D5D57;
  border-bottom: 5px solid #4D5D57;
}

.header img {
  margin-left: 10rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-grow: .5;
}

.testimonial-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.testimonial {
  width: 20%;
}

.footer-row {
  display: flex;
  justify-content: space-evenly;
  background-color: #4d5d57c1;
  padding: 2rem 0 2rem 0;
  align-items: center;
  color: white;
  text-shadow: var(--bs);
}

.footer-row p {
  margin: .5rem;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-title {
  padding-left: 15%;
  margin-bottom: 3rem;
}

.section-title-center {
  text-align: center;
  margin-bottom: 3rem;
  font-size: var(--fs-h2);
  text-shadow: var(--bs);
}

.about {
  display: flex;
  width: 50%;
  margin: 5rem auto 5rem auto;
  border-top: 5px solid #4D5D57;
  border-bottom: 5px solid #4D5D57;
  padding: 3rem;
  align-items: center;
}

.about img {
  margin-left: 5rem;
}

.price {
  font-weight: var(--fw-med);
  color: coral;
}

.specials {
  background-color: #4D5D57;
  padding: 3rem;
  background-image: url("https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1600/900/75/dam/wdpro-assets/gallery/dining/magic-kingdom/plaza-restaurant/plaza-restaurant-gallery00.jpg");
  background-size: cover;
  background-position: 50%;
}

.specials h1 {
  color: white;
  font-size: var(--fs-h2);
  text-shadow: var(--bs);
}

section {
  margin: 5rem 0 5rem 0;
}

section .dishes {
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
}

section .card-title {
  display: flex;
  justify-content: space-between;
}

section .dish {
  background-color: rgb(246, 246, 246);
  border-radius: 15px;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.247);
  box-shadow: var(--bs);
  width: 20%;
  z-index: 99;
}

section .dish img {
  border-radius: 15px;

}

section .testimonials {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-image: url("https://img.huffingtonpost.com/asset/588f5dac1700002f001d11c5.jpeg");
  background-size: cover;
  background-position: 50%;
  padding: 5rem;
}

section .testimonial {
  background-color: rgb(246, 246, 246);
  border-radius: 15px;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.247);
  box-shadow: var(--bs);
}

form {
  margin: 5rem 0 5rem 0;
}

.form-column {
  width: 20%;
  margin: auto;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.form-row > input {
  flex: 2;
}

.form-row > button {
  padding: .5em;
  margin-top: 2rem;
}
form button {
  color: white;
  font-weight: var(--fw-med);
  background-color: green;
  border-radius: 15px;
  box-shadow: var(--bs);
  width: 100px;
}